extends ../layouts/common.pug

block content
    
    h1 Create user

    if error
     each error1 in error
      .alert.alert-danger=error1 
         
     
    form(action="/users/create", method="POST", enctype= "multipart/form-data")
     .form-group
        label(for="name") Name 
        span &nbsp;
        input#name(name="name", type="text", value= values ? values.name : "")
     span &nbsp;
     .form-group
        label(for="phone") Phone 
        span &nbsp; 
        input#phone(name="phone", type="text", value= values ? values.phone : "")
     span &nbsp;
     .form-group
        label(for="avatar") Avatar 
        span &nbsp; 
        input#avatar.form-control-file(name="avatar", type="file")

     button.btn.btn-primary Create