extends ../layouts/common.pug

block content
    
    h1 Create user

    if error
     each error1 in error
      .alert.alert-danger=error1 
         
     
    form(action="/users/create", method="POST")
        label(for="name") Name 
        input#name(name="name", type="text", value= values ? values.name : "")

        label(for="phone") Phone  
        input#phone(name="phone", type="text", value= values ? values.phone : "")

        button Create