extends ../layouts/common.pug

block content

    h1 Minh Tam

    a(href = "/users/create") New 

    form(action="/users/search", method="GET" class="d-flex")
        input(type="text" name="q" class="form-control")
        button(class="btn btn-primary" style="margin-left:10px") Search

    ul 
        each val in user1
            li 
                span=val.name
                span  &nbsp;
                span=val.phone
                span  &nbsp;
                a(href='/users/'+ val.id) View 